@import url('https://fonts.googleapis.com/css2? family= Kalam & family= Lato:ital,wght@0,400;1,300 & display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*INDEX MAIN*/
/*banner*/

.banner {
    background-image: url(../img/Getter\ \(4\).png);
    background-size: cover;
    padding: 100px;
} 


.banner-1 h1 {
    margin-bottom: 10px;
    font-size: 5rem;
    font-weight: 30px;
    font-family: 'Kalam', cursiva;
    
}

.banner-1 p {
    margin: 40px 20px 20px;
    font-size: 2rem;

}

.banner-2 {
    text-align: center;
    margin-right: 50px;
}

.banner-2 a {
    text-decoration: none;
    margin-top: 40px;
    margin-left: 30px;
    display: inline-block;
    border-radius: 6px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #fff;
    color: black;
    box-shadow: 3px 8px 22px rgba(6, 2, 4, 0.3);
    
}

.banner-2 a:hover {
    color:rgb(152, 36, 85);
    box-shadow:3px 8px 22px rgba(152, 36, 85, 0.5)
}

/*INDEX MAIN SECTION 2 */

.info {
    background-color: rgb(110, 155, 127);
    color: white;
    padding: 20px 100px;
    text-align: center;
    border-radius: 10px;
}

.info p {
    margin-top: 10px;
}

.info h2 {

}

/*INDEX MAIN SECTION 3*/


img {
    width: 260px;
    height: 360px;
}